#compare-modal {
    display: none;
    max-width: 20%;
    text-align: left;
    bottom: 20%;
    padding-bottom: 10px;
}
#compare-modal legend {
    color: white;
}
#compare-modal input {
    color: black;
}
