#compare-modal {
    display: none;
    max-width: 25%;
    text-align: left;
    bottom: 20%;
    left: 10%;
    padding-bottom: 10px;
}
#compare-modal legend {
    color: white;
}
#compare-modal input {
    color: black;
    height: 20px;
}
