#compare-modal {
    display: none;
    max-width: 25%;
    text-align: left;
    bottom: 30%;
    left: 1%;
    padding-bottom: 10px;
    z-index: 3;
}
#compare-modal .panel-title {
    font-size: 1.5rem;
}
#compare-modal legend {
    color: white;
}
#compare-modal input {
    color: black;
    height: 20px;
}
#compare-date-container {
    text-transform: uppercase;
    color: white;
    z-index: 2;
    font-weight: normal;
    font-size: 1.3rem;
}
.first-date-compare,
.second-date-compare {
    background-color: rgba(18, 20, 24, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 10%;
    z-index: 3;
    padding-left: 10px;
    padding-right: 10px;
}
.first-date-compare {
    right: 50%;
    border-radius: 10px 0px 0px 10px;
}
.second-date-compare {
    left: 50%;
    border-radius: 0px 10px 10px 0px;
}