#left-toolbar {
    top: 40px;
    left: 2%;
    width: 600px;
}
#left-toolbar img {
    height: 80px;
}
#left-toolbar .slick-slide {
    width: 100px;
}
#left-toolbar .slick-slide:hover {
    background: rgba(80, 150, 200, 0.7);
}
#left-toolbar .satellite-selected {
    background: rgba(80, 150, 200, 0.5);
}
#left-toolbar .popover {
    background-color: rgba(58, 94, 107, 0.5);
}
#left-toolbar .popover-title {
    background-color: rgba(3, 46, 67, 0.5);
}
#top-left-toolbar {
    top: 1px;
    left: 2%;
    width: 600px;
}

.satellite-disabled img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#search-satellite {
    text-align: right;
    padding: 5px;
    z-index: 1;
    color: black;
}
#search-satellite button {
    width: 30px;
    height: 23px;
    background-image: url("../images/mini-search.png");
    background-repeat: no-repeat;
}