html, body, #main-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Myriad Pro Regular';
    font-size: 16px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#slider {
    position: absolute;
    left: 50%;
    top: 0px;
    background-color: #D3D3D3;
    width: 6px;
    height: 100%;
    z-index: 9999;
}

#slider:hover {
    cursor: ew-resize;
}
.earthtrek-toolbar {
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    z-index: 2;
}
button {
    background-color: #2c69b3;
    border-radius: 4px;
    border: 0;
    box-shadow:none;
    color: white;
    padding: 3px;
}

button:not(:disabled):hover,
button.selected {
    color: white;
    background-color: #1ea9e9;
}
button:disabled {
    background: rgb(105,105,105);
}

.slick-arrow {
    background: none !important;
}
::-webkit-scrollbar {
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background-color: rgba(3, 46, 67, 0.5);
}

::-webkit-scrollbar-thumb {
    background: rgba(80, 150, 200, 0.5);
}
/**MODAL*/
.earthtrek-modal {
    max-width: 40%;
    text-align: center;
    top: 20%;
    padding-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 65vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: 'Myriad Pro Bold Condensed';
    background-color: rgba(18, 20, 24, 0.7);
}