/**EARTH TREK PANEL*/
.earthtrek-panel {
    text-transform: uppercase;
    position: absolute;
    display: none;
    margin: auto;
    color: white;
    background-color: rgba(18, 20, 24, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    z-index: 2;
    padding-left: 8px;
    font-weight: normal;
}
.earthtrek-panel .panel-title {
    font-family: 'Myriad Pro Bold Condensed';
    font-size: 2.0rem;
    text-align: center;
    margin-top: 15px;
}
.earthtrek-panel .panel-text {
    font-family: 'Myriad Pro Condensed';
    padding-left: 10px;
    padding-right: 10px;
}
.earthtrek-panel .panel-buttons {
    text-align: center;
    text-transform: uppercase;
}
.earthtrek-panel input {
    border: 0;
    box-shadow:none;
}
.earthtrek-panel > div {
    margin-top: 10px;
}