/** SATELLITE PANEL */
#satellite-panel {
    top: 6%;
    right: 2%;
    max-width: 33%;
    padding-left: 8px;
}
#satellite-panel #satellite-name {
    font-family: 'Myriad Pro Bold Condensed';
    font-size: 1.8rem;
}
#satellite-panel .text-right {
    padding-right: 5px;
    font-size: 1rem;
    float: left;
}
#satellite-panel span {
    font-size: 1rem;
    padding: 5px;
}
#satellite-panel > .row:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#satellite-panel .layer-available button {

}
#satellite-panel .satellite-description {
    font-weight: normal;
    text-transform: none;
    font-size: 0.8rem;;
    overflow-y: auto;
    max-height: 20vh;
    margin-bottom: 5px;
}
#satellite-panel .fixed-buttons button {
    position: absolute;
    right: 0; top: 0;
    width: 40px;
    height: 30px;
    margin: 2px;
}
.satellite-panel-top {
    padding-top: 2px;
    padding-left: 15px;
}
#satellite-instruments {
    padding: 0;
    width: 40% !important;
    float: left;
}
.satellite-instrument button {
    background-image: url("../images/layers.png");
}
#satellite-panel button:disabled {
    background: rgb(105,105,105);
}
#satellite-info {
    font-size: 1.1rem;
    padding-right: 0;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    max-width: 60%;
    float: left;
}
#satellite-info .orbital-data-keys {
    margin-right: 5px;
    font-family: 'Myriad Pro Bold Condensed';
    width: 40%;
    float: left;
}
#satellite-info .orbital-data-values {
}
#satellite-info > div {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    clear: both;
}
#satellite-info .agency {
    width: 30px;
}

/** INSTRUMENT */
.satellite-instrument {
    position: relative;
    padding: 5px 10px;
    font-size: 1em;
}
.satellite-instrument:nth-child(even),
.instrument-layer:nth-child(even) {
    background-color: rgba(3, 46, 67, 0.9);
}
.satellite-instrument:nth-child(odd),

    /**LAYER */

.instrument-layer:nth-child(odd) {
    background-color: rgba(58, 94, 107, 0.9);
}
#satellite-instrument-layers {
    display: none;
    max-height: 30vh;
    overflow-y: auto;
    padding: 10px 1px 10px 10px;
    font-weight: bold;
    text-transform: none;
}
.instrument-layer {
    position: relative;
    min-height: 40px;
    line-height: 1;
    padding: 5px;
    padding-right: 100px;
}
.instrument-layer .fixed-buttons button {
    width: 34px !important;
    height: 32px !important;
}
.instrument-layer button.view {
    right: 45px !important;
    background-image: url("../images/view.png");
}
.instrument-layer button.compare {
    background-image: url("../images/compare.png");
}
.layer-available {
    font-size: 0.8rem !important;
    padding-top: 5px;
}
.layer-available span {
    font-weight: normal;
}