#earthtrek-welcome {
}
.earthtrek-welcome-title {
    font-family: 'Myriad Pro Bold Condensed';
    font-size: 2.5rem;
}
#earthtrek-welcome button,
#earthtrek-tutorial button {
    width: 100px;
    margin: 5px;
}